html, body {
	font-size: 11pt;
	line-height: 1.5;
	font-family: sans-serif;
}
#wrap {
	background-color: #000;
	color: #000;
}
 
#top , #main_content, #footer, #pasek {
	padding: 0 11.4em;
}
 
#top {
	position: relative;
}
 
#logo {
	background-image: url("MIPSlogo.jpg");
	padding-bottom: 20em;
	width: 100%;
	display: block;
	
}

#pasek{
		background-color: #000;
		padding: 0.1em;
		}
#lewa_menu {
	background-image: url("pasek.jpg");
	background-repeat: repeat-x;
	padding: 1em 0;
}
 
#prawa_menu {
		background-image: url("pasek.jpg");
	background-repeat: repeat-x;
	
	position: absolute;
	right: 25em;
	top: 20.1em;
	text-align: right;
	background-color: #111;
}
 
#prawa_menu li {

	display: inline-block;
	float: left;
	border-width: 0 0px 0px 0px;
	border-style: solid;
	
}
 
#prawa_menu a:link, #prawa_menu a:visited {
	text-decoration: none;
	display: block;
	width: 95px;
	text-align: center;
	padding: 0px 0;
	font-weight: bold;
	color: #def;
	font-size: 12px;
	
}
 
#prawa_menu a:hover {
	
	color: #fff;
	
	border-bottom: 1px solid orange;

}


#users {
	background-color: orange;
	float: left;
	width: 30%;
	overflow: hidden;
	}
	
	
#news {
	background-color: #111;
	color: white;
	float: left;
	width:70%;
	overflow: hidden;
	}
 
 #footer {
	padding-bottom: 25em;
	clear: both;
}
